<div class="col-md-12">
    {% include "AdminAdminBundle:Default:paginacion.html.twig" %}
</div>
{% for entity in entities %}
    <div class="col-sm-6 col-md-3 col-lg-3">
        <a href="{{path('list_book', {'id':entity.idHojadevida.id})}}" class="thumbnail">
            {% if entity.idPhoto.image == '' %}
                <img data-src="{{ web_image('upload/default/default.jpg').zoomCrop(350,450,'black')}}"  src="{{ web_image('upload/default/default.jpg').zoomCrop(350,450,'black')}}" style="height: 450px; width: 350px;">
            {% else %}
                <img data-src="{{web_image('upload/Photos/' ~ entity.idPhoto.id ~'/' ~ entity.idPhoto.image).zoomCrop(350,450,'black')}}"  src="{{web_image('upload/Photos/' ~ entity.idPhoto.id ~'/' ~ entity.idPhoto.image).zoomCrop(350,450,'black')}}" style="height: 450px; width: 350px;">
            {%endif%}
        </a>
    </div>
{% endfor %}
<div class="col-md-12">
    {% include "AdminAdminBundle:Default:paginacion.html.twig" %}
</div>
<script>
    (function ($) {
        /* tooltip */
        $('a[data-toggle="tooltip"]').tooltip();

    })(jQuery);
</script>





