{% for entity in entities %}
    <div class="col-lg-4">
        <h4>PERFIL {{ entity.idHojadevida.id }}</h4>
        {% if entity.idPhoto.image == '' %}
            <img data-src="{{ web_image('upload/default/default.jpg').zoomCrop(379,180)}}"  src="{{ web_image('upload/default/default.jpg').zoomCrop(379,180)}}" class="img-responsive">
        {% else %}
            <img data-src="{{web_image('upload/Photos/' ~ entity.idPhoto.id ~'/' ~ entity.idPhoto.image).zoomCrop(379,180)}}"  src="{{web_image('upload/Photos/' ~ entity.idPhoto.id ~'/' ~ entity.idPhoto.image).zoomCrop(210,210)}}"  class="img-responsive">
        {%endif%}
        <p>{{ entity.idHojadevida.experienciaTv|slice(0, 200) ~ '...'  }}</p>
        <a href="{{path('list_book', {'id':entity.idHojadevida.id})}}">Leer mas</a>
    </div>
{% endfor %}






