{% set row = 3 %}

{% for entity in entities %}
    {% if row ==3%}
    <div class="row">
    {% endif %}
        <div class="col-lg-4">
            <div class="bloque-agencia">
                <h4>{{ entity.nombre|upper }}</h4>
                <p><b>Direccion:</b>{{ entity.direccion|slice(0, 30) ~ '...' }}</p>
                <p><b>Telefono:</b>{{ entity.telefono }}</p>
                <p><b>Email:</b>{{ entity.email}}</p>
                <p><b>Pagina web:</b><br><a href="{{ entity.paginaweb }}">{{ (entity.paginaweb|slice(0, 35) ~ '...')|lower }}</a></p>
                <a href="#">leer mas</a>
            </div>
        </div>
    {% if row ==1%}
    </div>
    {% set row =4 %}
    {% endif %}
    {% set row=row-1 %}
{% endfor %}






