{% extends 'AdminAdminBundle::layout.html.twig'%}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard {{ app.user.username}}</h1>
            </div>
            <div class="row">
                    <div class="col-lg-12">
                        <h3>Personal de apoyo</h3>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-book gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{{Books}}</div>
                                        <div>Books</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('dashboard_hojadevida') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-stats gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{{CSinBook}}</div>
                                        <div>cuentas sin book</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('dashboard_user')}}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-user gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{{Users}}</div>
                                        <div>Cuentas en total</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h3>Agencias</h3>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-facetime-video gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{{Agencias}}</div>
                                        <div>Agencias Activas</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('dashboard_agencia') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-facetime-video gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{{AgenciasT}}</div>
                                        <div>Cuentas de agencia</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('dashboard_agencia') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="glyphicon glyphicon-facetime-video gi-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Tienes</div>
                                        <div class="huge">{%set aux=AsinUser-Agencias  %}{{aux}}</div>
                                        <div>Usuarios Tipo Agencia</div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('dashboard_user',{'id':1})}}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver registros </span>
                                    <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
{% endblock %}