<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{#<link rel="alternate" href="http://fikner.com" hreflang="es-co"/>#}
	<meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="image/jpeg" href="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
        <title>{% block title %}{% endblock %}</title>
        <!--facebook -->
        {% block facebook %}{%endblock%}
        <link rel="stylesheet" href="{{asset('bundles/adminadmin/bootstrap/3.3.7/css/bootstrap.min.css')}}">
        <!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!--Javascript top-->
        {% block topjavascript %}
            <script type="text/javascript" src="{{asset('bundles/adminadmin/js/incrementalNumber.js')}}"> </script>
            <script type="text/javascript">
                $(document).ready(function(){
  			incrementalNumber();
  		});
            </script>
        {%endblock%}
        <!--style-->
        {% block style %}
            <link rel="stylesheet" href="{{asset('bundles/adminadmin/css/style.css')}}">
        {% endblock %}    	
</head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6359162192439396",
    enable_page_level_ads: true
  });
</script>
<body>
	{% block menu %}
    	{% include "AdminAdminBundle:Default:menu.html.twig" %}
	{% endblock menu %}
    {% block container %}
    {% endblock %}
	{%block footer %}
        <section>
      	<div class="footer">
      		<div class="container">
      			<div class="col-lg-4">
      				<div class="texto-footer-left">
      					<p>NUESTROS ALIADOS</p>
                                        <a href="http://digitalhype.co/">
      					<img src="{{asset('bundles/adminadmin/img/logo_digital_gray.png')}}" alt="">
                                        </a>
      				</div>
      			</div>
      			<div class="col-lg-4">
      				<div class="texto-footer">
      					<img src="{{asset('bundles/adminadmin/img/fikner_logo_blanco.png')}}" alt="">
      					<p>Cree en ti mismo y todo lo que eres. Reconoce que hay algo dentro de ti que es más grande que cualquier obstáculo. Christian D. Larson</p>
						{#<p>Hoy es el único día que puedes darlo todo de ti mismo. Por lo tanto, no pienses en el pasado ni en el futuro. Ama, vive y persigue tus sueños.</p>
      					#}
      				</div>
      			</div>
      			<div class="col-lg-4"> 
      				<div class="texto-footer-right">
      					<p>REDES</p>
      					<li><a href="https://www.facebook.com/YouFikner/?fref=ts"><img src="{{asset('bundles/adminadmin/img/social/f2.png')}}" alt=""></a>	Facebook</li>
      					<li><a href="https://twitter.com/YouFikner"><img src="{{asset('bundles/adminadmin/img/social/t2.png')}}" alt=""></a>	Twitter</li>
      					<li><a href="#"><img src="{{asset('bundles/adminadmin/img/social/y2.png')}}" alt=""></a>	Youtube</li>
      				</div>     				
      			</div>
      		</div>
      	</div>
      	<div class="copyright">
      		<div class="container">
      			<div class="col-lg-4"></div>
	      		<div class="col-lg-4"></div>
	      		<div class="col-lg-4">	      			
	      				<p>Fikner © 2017 | Español (COL)</p>
	      		</div>	
      		</div>      		
      	</div>
      </section>
    {% endblock %}
</body>
{% block footerjavascript %}
    <script src="{{asset('bundles/adminadmin/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-79661589-1', 'auto');
            ga('send', 'pageview');
        </script>
    {%endblock%}
</html>
