{% extends "AdminMyaccountBundle::layout.html.twig" %}
{% block container %}
    <div class="row">
            {%if hojadevida %}
                {%if photo %}
                    {% if entity|length > 0 %}
                        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 info">
                            <p id="nameUser">
                            <h1>¡Bienvenid@ {{ app.user.nombre}}!</h1>
                            <p id="texto">
                                Para nosotros es muy importante su seguridad, por esto no coloque datos como (número de documento, teléfono, email, dirección de residencia, nombre) en las imágenes subidas a fikner, ya que personas inescrupulosas  pueden usar esta información para contactarlo con fines fraudulentos.
                            </p>
                            <p id="texto">
                                <a href="{{path('Myaccount_empresa')}}" class="btn btn-block">
                                    <span class="glyphicon glyphicon-facetime-video"></span> Buscar agencias
                                </a>
                            </p>
                            <h1><small>Usa la cabeza, usa fikner</small></h1>
                        </div>
                        {% else %}
                            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 info">
                                <p id="nameUser">
                                <h1>¡Felicidades {{ app.user.nombre}}!</h1>
                                <h1><small>Envíe su perfil a una agencia</small></h1>
                                <p id="texto">
                                    <a href="{{path('Myaccount_empresa')}}" class="btn btn-block">
                                        <span class="glyphicon glyphicon-facetime-video"></span> Postúlese en las agencias
                                    </a>
                                </p>
                                <p id="texto">
                                    Para nosotros es muy importante su seguridad, por esto no coloque datos como (número de documento, teléfono, email, dirección de residencia, nombre) en las imágenes subidas a fikner, ya que personas inescrupulosas  pueden usar esta información para contactarlo con fines fraudulentos.
                                </p>
                                <h1><small>Usa la cabeza, usa fikner</small></h1>
                            </div>

                    {% endif %}
                    <div class="col-lg-4">
                        {#<a href="">¿Ventajas de ser premium?</a>#}
                        <h2></small>{{ vistas }} <small>Visitas</small></h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Mis Agencias</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for agencia in entity  %}
                                <tr>

                                    <td><a href="{{path('Agencia_page', { 'nombre':agencia.idagencia.nombreagencia|replace({' ': '_'})})}}">{{ agencia.idagencia }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                   </div>
                       
                    
                {%else%}
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 info">

                    <p id="nameUser">
                        `   <h1>¡Muy Bien!<small> Datos guardados</small></h1>
                    </p>
                    <br>
                    <h1><small>Solo falta un paso más</small></h1>
                    <p id="texto">
                        <a href="{{path('Myaccount_photo_new')}}" class="btn btn-block btn-default"><span class="glyphicon glyphicon-open"></span>Paso 3 - Cargar Fotos</a> 
                    </p>
                    </div>
                {%endif%}
            </div>
        {%else%}
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 info">

            <p id="nameUser">
                `   <h1>¡Bienvenido a Fikner!</h1>
            <h1><small>Se está registrando como Talento (Actor, Actriz, modelo, personal de apoyo)</small></h1>
        </p>
        <br>
        <p id="texto">
            Para terminar con el proceso de registro, es necesario registrar su perfil.
            Si tiene problemas para registrarse desde su móvil, realice el proceso
            desde un equipo de escritorio. 
        </p>
        <br>
{#
        <p id="texto2">

            <b>NO SOY TALENTO</b>, Haga clic <a href="{{path('Myaccount_verificarusuario')}}">aquí</a> para registrarse como agencia.
        </p>
  #}
        <br>
        <p id="texto">
            <a  class='btn btn-default btn-block'href="{{ path('Myaccount_perfil_new') }}">
                <i class="glyphicon glyphicon-book"></i> Registrar Perfil
            </a> 
        </p>

        <br>
    </div>
{%endif%}
{% endblock container %}
