{% set route = app.request.attributes.get('_route') %} 
{% set DashboardMenu = ['admin_dashboard','agencia_dashboard_myagencia_new','Agencia_file_new'] %}
{% set BookMenu = ['dashboard_hojadevida'] %}
{% set AgenciaMenu = ['dashboard_agencia'] %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('admin_dashboard')}}"><img src="{{asset('images/logo/fikner_logo_blanco.png')}}" alt="" height="100%"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li id="profileImage" class="{% if route in DashboardMenu %}active{% endif %}">
                   <a href="{{ path('admin_dashboard') }}"> <i class="glyphicon glyphicon-dashboard"></i>
                        Dashboard
                    </a>
                </li>
                <li class="{% if route in BookMenu %}active{% endif %}"><a href="{{ path('dashboard_hojadevida') }}"> <i class="glyphicon glyphicon-book"></i> Hojas de vida</a></li>
               <li class="{% if route in AgenciaMenu %}active{% endif %}"><a href="{{ path('dashboard_agencia') }}"> <i class="glyphicon glyphicon-book"></i> Agencias</a></li>
           <li class="{% if route in AgenciaMenu %}active{% endif %}"><a href="{{ path('dashboard_plan') }}"> <i class="glyphicon glyphicon-shopping-cart"></i> Planes</a></li>
           <li class="{% if route in AgenciaMenu %}active{% endif %}"><a href="{{ path('dashboard_agenciaplan') }}"> <i class="glyphicon glyphicon-shopping-cart"></i> Agencia Plan</a></li>
          <li class="{% if route in AgenciaMenu %}active{% endif %}"><a href="{{ path('dashboard_planservicio') }}"> <i class="glyphicon glyphicon-shopping-cart"></i> Plan servicio</a></li>
          <li class="{% if route in AgenciaMenu %}active{% endif %}"><a href="{{ path('dashboard_servicio') }}"> <i class="glyphicon glyphicon-shopping-cart"></i> Servicio</a></li>
          
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"></li>
                        <li><a href="{{path('Myaccount_calificacion')}}">Acerca de calificación  </a></li>
                        <li><a href="#">Reportar Problemas</a></li>
                        <li><a href="#">Configurar cuenta</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Cerrar la sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>    
    </div>
</nav>
