<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        {% if entity %}
            <title>{%block title %}Fikner - Agencia de {{entity.categoria}}  {{entity.nombreagencia}}{% endblock %}</title>
            {% block informacion %}
            {% if not idlogo %}
                <link rel="icon" type="image/jpeg" href="{{ asset('images/logo3.png')}}" />
            {% else %}
                <link rel="icon" type="image/jpeg" href="{{web_image('upload/Photos/' ~ idlogo ~'/' ~ idNombre).resize(100,100)}}" />
            {%endif%}
            <meta property="og:title" content="Fikner - {{entity.nombreagencia}}">
            <meta property="og:type"  content="article" />
            <meta property="og:url"                content="http://www.fikner.com/agencia/{{entity.nombreagencia}}" />
            <meta property="og:image" content="{{web_image('upload/Photos/' ~ idlogo ~'/' ~ idNombre).resize(200,200,'white')}}" />
            <meta property="og:site_name" content="Fikner">
            {% endblock %}
        {%else%}
            <meta property="og:image" content="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
            <meta property="og:description" content=" Registre su agencia en fikner">
            <link rel="icon" type="image/jpeg" href="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
        {%endif%}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/fikner-page/css/style.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-principal"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="{{path('principal')}}"> 
                        <img src="{{web_image('images/logo/fikner_logo_blanco.png').resize(200,100)}}" alt="" whith="100%" height="100%"> 
                    </a> 
                </div>
                <div id="navbar" class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-user"></i> {{app.user.username}} |
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-user"></i> 
                                    Iniciar sesión</a></li>
                                {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        {% if not entity %}
            <div class="container">
                <div class="contenedor">
                    <h1 class="text-center">No se encontró ninguna agencia en esta url</h1>
                    <div class="text-page2">
                        <div class="text-center">
                            <a href="{{path('Agencia_registration_create')}}" class="btn btn-danger"><strong>¡REGISTRAR AGENCIA!</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        {%else%}
            {% block container %}
            <div class="container">
                <div class="contenedor">
                    {% if entity.VideoPrincipal %}
                    <div class="col-lg-12" style="background-color: #4b4f56;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <style>
                                .video-container {
                                    position: relative;
                                    padding-bottom: 56.25%;
                                    padding-top: 30px; height: 0; overflow: hidden;
                                }

                                .video-container iframe,
                                .video-container object,
                                .video-container embed {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            </style>
                            <div class="video-container">
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/{{ entity.VideoPrincipal }}" frameborder="0" allowfullscreen>
                            </iframe>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12">
                        <br>
                        <a class="color_text" href="#">{{entity.nombreagencia}}</a><span class="_2l9f"><!-- react-empty: 16 --></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-marg .img-brd-out  img-white" style="margin-top:30px;" >
                                <div class="img-brd-in">
                                    <a class="img-block" href="#" rel="theater">
                                        {% if not idlogo %}
                                            <img class="img-block img" height="auto" src="{{ asset('images/noimage.jpg')}}" width="100%" alt="{{entity.nombreagencia}}">
                                        {% else %}
                                            <img class="img-block img" src="{{web_image('upload/Photos/' ~ idlogo ~'/' ~ idNombre).resize(200,200,'white')}}" alt="{{entity.nombreagencia}}" height="100%" width="100%">
                                        {%endif%}
                                    </a><!-- react-empty: 8 -->
                                </div>
                            </div>

                            <br>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {% if not(is_granted("ROLE_AGENC"))  %}
                                            {% if U_foto %}
                                                {% if U_foto_Agencia %}
                                                    {%set aux=false%}
                                                    {% for agencia in U_foto_Agencia %}
                                                        {%if (agencia.idAgencia.id == entity.id) and (agencia.activo=='1')%}
                                                            <a href="{{path('agencia_page_remove_book',{'id':entity.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Remover book</strong></a>
                                                            {%set aux=true%}
                                                        {%endif%}
                                                    {%endfor%}
                                                    {%if not aux%}
                                                        <a href="{{path('agencia_page_send_book',{'id':entity.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Enviar book</strong></a>
                                                    {%endif%}
                                                {%else%}
                                                    <a href="{{path('agencia_page_send_book',{'id':entity.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Enviar book</strong></a>
                                                {%endif%}
                                            {%else%}
                                                <p>No puedes enviar book carga al menos una imagen primero</p>
                                            {%endif%}

                                        {%else%}
                                            <a href="{{path('registration_new',{'id':entity.id})}}" class="btn  btn-danger btn-block"><strong>¡QUIERO ENTRAR!</strong></a>
                                        {%endif%}
                                    {%else%}
                                        <a href="{{path('registration_new',{'id':entity.id})}}" class="btn  btn-danger btn-block"><strong>¡QUIERO ENTRAR!</strong></a>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body"><p>{{entity.ciudad}}-{{entity.pais}}</p>
                                    <p>Registrada:{{entity.fecha|date("M-d-Y")}}</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Información</div>
                                <div class="panel-body">
                                    <p id="info"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{entity.telefono}}</p>
                                    <p id="info"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{entity.email}}</p>
                                    <p id="info"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {%if entity.paginaweb %}<a href="{{entity.paginaweb}}">{{entity.paginaweb}}</a>{%else%}No definida{%endif%}</p>
                                    <p id="info"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{entity.direccion}}</p>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Últimos registros</div>
                                <div class="panel-body">
                                    {{ render(controller('AdminAgenciaBundle:Page:ajaxtalentos',{'id':entity.id})) }}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Redes Sociales</div>
                                <div class="panel-body">
                                    <p id="info"><img src="{{asset('images/social/f.png')}}" alt="" height="35px" id="social"> {%if entity.grupofb %}{{entity.grupofb}}{%else%}No definido{%endif%}</p>
                                    <p id="info"><img src="{{asset('images/social/y.png')}}" alt="" height="35px" id="social"> {%if entity.youtube %}{{entity.paginaweb}}{%else%}No definido{%endif%}</p>
                                    <p id="info"><img src="{{asset('images/social/t.png')}}" alt="" height="35px" id="social"> {%if entity.twitter %}{{entity.paginaweb}}{%else%}No definido{%endif%}</p>

                                </div>
                            </div>


                        </div>

                        <div class="col-sm-8">
                            <div class="col-sm-10">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{entity.categoria}}</div>
                                    <div class="panel-body"><p>{{entity.descripcion}}</p></div>
                                </div>
                                {{ render(controller('AdminAgenciaBundle:Page:listSolicitud',{'id':entity.id})) }}
                                    
                            </div>

                            <div class="col-sm-2">
                                <div>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- Bloque1 -->
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-client="ca-pub-6359162192439396"
                                         data-ad-slot="7042996067"
                                         data-ad-format="auto"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
            {% endblock %}
        {%endif%}
    </body>
    <script src="{{asset('css/book/js/jquery.min.js')}}"></script>
    <script src="{{asset('css/book/js/bootstrap.min.js')}}"></script>
    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));

        // Colorbox Call

        $(document).ready(function () {
            $("[rel^='lightbox']").prettyPhoto();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79661589-1', 'auto');
        ga('send', 'pageview');

    </script>
</html>




