<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fikner - {{agencia.nombreagencia}}</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{asset('/bundles/adminmyaccount/css/book/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/bundles/adminmyaccount/css/book/styles/css/fiknerStyles.min.css')}}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{asset('/bundles/adminmyaccount/css/book/animate.css')}}" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{path('principal')}}"><img src="{{web_image('images/logo/fikner_logo_blanco.png').resize(90,30)}}" alt="" height="30px"></a>
                </div>

            </div>
        </nav>
        <section class="book">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {{ render(controller('AdminAgenciaBundle:Default:AgenciaLogoView',{'idAgencia':agencia.id,'height':100,'width':100})) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>{{agencia.nombreagencia}}</h2>
                        <h1>{{ entity.nombre }}</h1>
                        <p id="texto">
                            {{ entity.observaciones }}
                        </p>
                        <p id="texto">{% if entity.fechaprogramada %}<b>Fecha Limite:</b>{{ entity.fechaprogramada|date('Y-m-d') }}{% endif %}
                        </p>
                    </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if not(is_granted("ROLE_AGENC"))  %}
                                {% if U_foto %}
                                    {% if U_foto_Agencia %}
                                        {%set aux=false%}
                                        {% for agencia in U_foto_Agencia %}
                                            {%if (agencia.idAgencia.id == entity.id) and (agencia.activo=='1')%}
                                                <a href="{{path('agencia_page_remove_book',{'id':agencia.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Remover book</strong></a> 
                                                {%set aux=true%}
                                            {%endif%}
                                        {%endfor%}
                                        {%if not aux%}
                                            <a href="{{path('agencia_page_send_book',{'id':agencia.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Enviar book</strong></a>   
                                        {%endif%}
                                    {%else%}
                                        <a href="{{path('agencia_page_send_book',{'id':agencia.id,'nombre':entity.nombreagencia})}}" class="btn  btn-danger btn-block"><strong>Enviar book</strong></a>                                
                                    {%endif%}
                                {%else%}
                                    <p>No puedes enviar book carga al menos una imagen primero</p>  
                                {%endif%}

                            {%else%}
                                <a href="{{path('registration_new',{'id':agencia.id})}}" class="btn  btn-danger btn-block"><strong>¡QUIERO ENTRAR!</strong></a>
                            {%endif%}
                        {%else%}
                            <a href="{{path('registration_new',{'id':entity.id})}}" class="btn  btn-danger btn-block"><strong>¡QUIERO ENTRAR!</strong></a>
                        {%endif%}
                    </div>
                    <div class="col-lg-4"></div>
                    </div>

                </div>
            </div>
        </section>
        <hr>
        <script type="text/javascript" src="{{asset('/bundles/adminmyaccount/js/book/jquery-2.1.4.min.js')}}" charset="UTF-8"></script>
        <script type="text/javascript" src="{{asset('/bundles/adminmyaccount/js/book/bootstrap.min.js')}}"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-79661589-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
