{% for entity in entities %}
    {% if entity.image == '' %}
        <div class="col-lg-4 portfolio-item">
            <a href="{{ path('Agencia_photo_show', { 'id': entity.id }) }}" target="_blank">
                <img  class="img-thumbnail" u=image  width="100%" src="{{ asset('upload/default/default.jpg')}}" /></a>
        </div>
        
    {% else %}
        <div class="col-lg-4 portfolio-item">
            <a href="{{ path('Agencia_photo_show', { 'id': entity.id }) }}">
                <img class="img-thumbnail" width="100%" src="{{web_image('upload/Photos/' ~ entity.id ~'/' ~ entity.image).resize(300,300)}}">
            </a>
            <p>
                {% set anioF = entity.fecha|date('Y') %}
                {% set anioN = "now"|date("Y") %}
                {% set aux= ((anioN - anioF)) %}
                {% if aux >0 %}
                    {% set mesF = entity.fecha|date('m') %}
                    {% set mesN = "now"|date("m") %}
                    {% set meses= ((12-mesF)) %}
                    {% set aux= ((mesN + meses)) %}
                    <label for="antiguedad">Antiguiedad de Foto:</label> {{ aux }} meses.
                {% else %}
                    {% set mesF = entity.fecha|date('m') %}
                    {% set mesN = "now"|date("m") %}
                    {% set aux= ((mesN - mesF)) %}
                    <label for="antiguedad">Antiguiedad de Foto:</label> {{ aux }} meses.
                {% endif %}
            </p>

        </div>
    {%endif%}
{% endfor %}
