<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Fikner -Reclutador {{id}}</title>    
        <meta property="og:url"                content="http://www.fikner.com/" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="Fikner" />
        <meta property="og:image" content="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
        <meta property="og:description" content=" Regístrese en fikner">
        <link rel="icon" type="image/jpeg" href="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/fikner-page/css/style.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-principal"> 
            <div class="container"> 
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="{{path('principal')}}"> 
                        <img src="{{web_image('images/logo/fikner_logo_blanco.png').resize(200,100)}}" alt="" whith="100%" height="100%"> 
                    </a> 
                </div>
            </div>
        </nav>
        <section class="book">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{asset('images/logo/fikner_logo2.png')}}" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Estar en la T.V.</h2>
                        <h1>Nunca fue tan fácil</h1>
                        <p id="texto">
                            Si tienes interés en participar en proyectos para televisión, comerciales, <br>
                            fotografía, modelaje y más; puedes inscribirte en nuestra base de datos
                        </p>
                        <a href="{{path('registration_new',{'idReclutador':id})}}" class="btn btn-default"><strong>¡QUIERO ENTRAR!</strong></a>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr>
                        <h1 id="h1">Últimos books registrados</h1>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            {{ render(controller('AdminAdminBundle:Default:ajaxtalentos')) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="footerBackground">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 animatedParent" data-sequence="700" id="textoFooter">
                                NUESTROS PRODUCTOS
                                <hr id="footerLine">
                                <ul>
                                    <a href="#" target="_blank"><li class="animated bounceInLeft" data-id="1"><img src="/proyecto/web/images/logo/logo_digital_gray.png" alt="" height="50px"></li></a>
                                    <!--<li class="animated bounceInLeft" data-id='2'><a href="#" target="_blank"><img src="images/logo/alive.png" alt="" height="12px"> </a></li>-->
                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="textoFooter">
                                + INFO
                                <hr id="footerLine">
                                <ul>
                                    <li><a href="/proyecto/web/app_dev.php/terminos"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Términos y condiciones</a></li>
                                    <li><a href="/proyecto/web/app_dev.php/calificacion"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Calificación de book</a></li>

                                    <li><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda </li>
                                    <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Bogotá D.C., Colombia</li>
                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="textoFooter">
                                BLOGS
                                <hr id="footerLine">
                                <ul>
                                    <li><a href="https://medium.com/@digitalhype.co" target="_blank"><img src="/proyecto/web/images/logo/medium.png" alt="" height="20px"> Medium</a></li>
                                    <!--<li><a href="#"><img src="images/logo/compania/alive.png" alt="" height="12px"></a></li>
                                    <li><a href="#"><img src="images/logo/compania/main.png" alt="" height="30px"></a></li>
                                    <li><a href="#"><img src="images/logo/compania/aitv.png" alt="" height="30px"></a></li>-->
                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="textoFooter">
                                REDES
                                <hr id="footerLine">
                                <ul>
                                    <li><a href="https://www.facebook.com/YouFikner/?fref=ts" target="_blank"><img src="/proyecto/web/images/social/f.png" alt="" height="35px" id="social"></a> Facebook</li>
                                    <li><a href="https://twitter.com/YouFikner" target="_blank"><img src="/proyecto/web/images/social/t.png" alt="" height="35px" id="social"></a> Twitter</li>
                                    <li><a href="#" target="_blank"><img src="/proyecto/web/images/social/y.png" alt="" height="35px" id="social"></a> Youtube</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animatedParent">
                                <p id="fiknerCredits">
                                    Fikner © 2016 | Español (COL)
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="{{asset('css/book/js/jquery.min.js')}}"></script>
    <script src="{{asset('css/book/js/bootstrap.min.js')}}"></script>
    <script>
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));

        // Colorbox Call

        $(document).ready(function () {
            $("[rel^='lightbox']").prettyPhoto();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79661589-1', 'auto');
        ga('send', 'pageview');

    </script>
</html>




