{% extends "AdminAgenciaBundle::layout.html.twig" %}
{% block title %}
    Proyecto | {{ parent() }}
{% endblock %}
{% block container %}
    {% set total=0 %}
    <div class="col-lg-12">
        <table class="table" id='listP'>
            <thead>
            <tr>
                <td><b>Total Añadidos</b></td>
                <td><b>{{ pendientes|length }}</b></td>
            </tr>
            <tr>
                <th>Book</th>
                <th>Costo</th>
            </tr>
            </thead>
            <tbody >
            {% for pendiente in pendientes %}
                <tr>
                    <td>
                        <a href="{{ path('agencia_dashboard_hojadevida_fiknerdb_show', { 'id': pendiente.idHojadevida.id}) }}" target="_blank">
                            {{ pendiente.idHojadevida.id }}
                        </a>
                    </td>
                    <th>
                        {% if pendiente.idHojadevida.calificacion == "1" %}
                            {% set total=total+200 %}  200
                        {% elseif pendiente.idHojadevida.calificacion == "2" %}
                            {% set total=total+400 %}  400
                        {% elseif pendiente.idHojadevida.calificacion == "3" %}
                            {% set total=total+600 %} 600
                        {% elseif pendiente.idHojadevida.calificacion == "4" %}
                            {% set total=total+800 %} 800
                        {% elseif pendiente.idHojadevida.calificacion == "5" %}
                            {% set total=total+1000 %} 1000
                        {% else %}
                            {% set total=total+200 %} 200
                        {% endif %}
                    </th>


                </tr>
            {% endfor %}
            {% if pendientes|length >0 %}
            <tr>
                <td><b>Total Acumulado</b></td>
                <td><b>COP {{ total|number_format(2, '.', '.') }}</b></td>
                <td>
                </td>
            </tr>
            <tr>
                <td><b>Precio final</b></td>
                <td><b>COP {{ payU['amount']|number_format(2, '.', '.') }}</b></td>
                <td>
                </td>
            </tr>
            {% endif %}

        </table>
        {% if pendientes|length >0 %}
        <form method="post" action="https://sandbox.gateway.payulatam.com/ppp-web-gateway/">
            <input name="merchantId"    type="hidden"  value="{{ payU['merchantId'] }}"   >
            <input name="accountId"     type="hidden"  value="{{ payU['accountId'] }}" >
            <input name="description"   type="hidden"  value="{{ payU['description'] }}"  >
            <input name="referenceCode" type="hidden"  value="{{ payU['referenceCode'] }}" >
            <input name="amount"        type="hidden"  value="{{ payU['amount'] }}"   >
            <input name="tax"           type="hidden"  value="{{ payU['tax'] }}"  >
            <input name="taxReturnBase" type="hidden"  value="{{ payU['taxReturnBase'] }}" >
            <input name="currency"      type="hidden"  value="{{ payU['currency'] }}" >
            <input name="signature"     type="hidden"  value="{{ payU['signature'] }}"  >
            <input name="test"          type="hidden"  value="{{ payU['test'] }}" >
            <input name="buyerEmail"    type="hidden"  value="{{ payU['buyerEmail'] }}" >
            <input name="responseUrl"    type="hidden"  value="http://www.fikner.com/response" >
            <input name="confirmationUrl"    type="hidden"  value="http://www.fikner.com/confirmation" >
            <input name="Submit" class="btn btn-success" type="submit"  value="Pagar" >
        </form>
        {% endif %}
    </div>

{% endblock %}
