{% extends "AdminAgenciaBundle::layout.html.twig" %}
{% block title %}
    Proyecto | {{ parent() }}
{% endblock %}
{% block container %}
    <h3> Edad:                  {% set number1 = entity.idHojadevida.fechaNac|date("Y") %}
        {% set number2 = "now"|date("Y") %}
        {% set aux= ((number2 - number1)) %}
        {{aux}}
        Id:<a href="{{path('list_book', { 'id':entity.idHojadevida.id})}}">BOOK:{{entity.idHojadevida.id}}</a>
    </h3>
    <div class="col-lg-12">
        {{ render(controller('AdminAgenciaBundle:Photo:list',{'id':entity.idHojadevida})) }}
    </div>
    <div class="col-md-10">
        <div class="form-group">
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-6">                
                <label>Tipo de Documento</label>
                {{ entity.idHojadevida.tipoDocumento }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Fecha de nacimiento</label>
                {{ entity.idHojadevida.fechaNac|date('Y-m-d') }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label>Genero</label>
                {{ entity.idHojadevida.sexo }}
            </div>
            <div class="col-md-4">
                <label>Estatura</label>
                {{ entity.idHojadevida.estatura}}
            </div>
            <div class="col-md-4">
                <label>Peso</label>
                {{ entity.idHojadevida.peso}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label>Ciudad de recidencia</label>
                {{ entity.idHojadevida.ciudadresidencia}}
            </div>
            <div class="col-md-4">
                <label>Lugar de nacimiento</label>
                {{ entity.idHojadevida.paisnacimiento }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label>Deportes</label>
                {{ entity.idHojadevida.deportes }}
            </div>
            <div class="col-md-4">
                <label>Maneja</label>
                {{ entity.idHojadevida.maneja }}
            </div>
            <div class="col-md-4">
                <label>Idiomas</label>
                {{ entity.idHojadevida.idiomas}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label>Habilidades</label>
                {{ entity.idHojadevida.habilidades }}
            </div>
            <div class="col-md-4">
                <label>Entidad de salud</label>
                {{ entity.idHojadevida.entidadSalud }}
            </div>

        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-4">
                <label>Color de piel</label>
                {{ entity.idHojadevida.piel }}
            </div>
            <div class="col-md-4">
                <label>Color ojos</label>
                {{ entity.idHojadevida.ojos }}
            </div>
            <div class="col-md-4">
                <label>Color de Cabello</label>
                {{ entity.idHojadevida.pelo }}
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-4">

                <label>Talla de camisa</label>
                {{ entity.idHojadevida.tallaCamisa }}
            </div>
            <div class="col-md-4">
                <label>Talla de chaqueta</label>
                {{ entity.idHojadevida.tallaChaqueta }}
            </div>
            <div class="col-md-4">
                <label>Talla Pantalon</label>
                {{ entity.idHojadevida.tallaPantalon }}                </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label>Talla Zapato</label>
                {{ entity.idHojadevida.TallaZapato }}
            </div>                
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-12">

                <label>Experencia de television</label>
                {{ entity.idHojadevida.experienciaTv }}
            </div>                
        </div>
        <div class="form-group">
            <div class="col-md-12">

                <label>Fecha Creacion</label>
                {{ entity.idHojadevida.fecha|date('Y-m-d H:i:s') }}
            </div>                
        </div>
        <div class="form-group">
            <div class="col-md-12">

                <label>Fecha Actualizacion</label>
                {{ entity.idHojadevida.fechaupdate|date('Y-m-d H:i:s') }}
            </div>                
        </div>
    </div>    

{% endblock %}
{% block javasctipt %}
    <!-- jQuery -->
    <script src="{{asset('bundles/adminadmin/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{asset('bundles/adminadmin/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{asset('bundles/adminadmin/bower_components/metisMenu/dist/metisMenu.min.js')}}"></script>


    <!-- DataTables JavaScript -->
    <script src="{{asset('bundles/adminadmin/dist/js/sb-admin-2.js')}}"></script>
    <script>
        (function ($) {
            /* print button */
            $('#btnPrint').on('click', function () {
                $('#mycontainer').removeClass('hidden-print');

                window.print();
            });
        })(jQuery);
    </script>
{%endblock%}