<div class="col-lg-12">
    <div class="col-lg-12 form-group">
        <div class="col-md-6 col-lg-4">
            <div class="form-group">
                {{ form(delete_form) }}
            </div>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-md-6 col-lg-4">

            <div class="form-group">
{{ form_start(edit_form) }}
                {{ form_row(edit_form.submit, { 'label': 'Actualizar','attr': {'class':'btn btn-primary btn-block' }}) }}
            </div>

        </div>

    </div>
    <div class="col-lg-12 form-group">
        {{ form_row(edit_form.Tags,{
                                       'attr': {'class':'form-control'}
                                       
                                     })}}

        <p>Perfiles, o etiquetas, para agilizar la búsqueda. </p>

    </div>
    <div class="col-lg-4 form-group">
        {{ form_row(edit_form.Estado,{
                                       'attr': {'class':'form-control'}
                                       
                                     })}}
        <p>Activo para aprobar el perfil. </p>
    </div>
    <div class="col-lg-4 form-group">
        {{ form_row(edit_form.categoria,{
                                       'attr': {'class':'form-control'}
                                       
                                     })}}
        <p>Categoría donde sera asignado. </p>
    </div>
    <div class="col-lg-4 form-group">
        {{ form_row(edit_form.calificacion,{
                                       'attr': {'class':'form-control'}
                                       
                                     })}}
        <p>Calidad de imagenes del perfil. </p>
    </div>
    {{ form_end(edit_form) }}

</div>


