<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/jpeg" href="{{web_image('images/logo/fikner_logo2.png').resize(100,100)}}" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Bienvenido a Fikner!</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/bundles/adminmyaccount/css/profile/styles/css/fiknerStyles.min.css')}}" media="screen" title="no title" charset="utf-8">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
         <link href="{{ asset('css/styles/css/select2.css') }}" rel="stylesheet">
        <style media="screen">
            /*=========================
              Icons
            ================= */
            /* footer social icons */
            #socialMedia ul.social-network {
                list-style: none;
                display: inline;
                /*margin-left:0 !important;*/
                padding: 0;
            }
            ul.social-network li {
                display: inline;
                margin: 0 5px;
            }
            /* footer social icons */
            #socialMedia .social-network a.icoRss:hover {
                background-color: #F56505;
            }
            #socialMedia .social-network a.icoFacebook:hover {
                background-color:#3B5998;
            }
            #socialMedia .social-network a.icoTwitter:hover {
                background-color:#33ccff;
            }
            #socialMedia .social-network a.icoGoogle:hover {
                background-color:#BD3518;
            }
            #socialMedia .social-network a.icoVimeo:hover {
                background-color:#0590B8;
            }
            #socialMedia .social-network a.icoLinkedin:hover {
                background-color:#007bb7;
            }
            #socialMedia .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
            #socialMedia .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
                color:#fff;
            }
            #socialMedia a.socialIcon:hover, .socialHoverClass {
                color:#44BCDD;
            }
            #socialMedia .social-circle li a {
                display:inline-block;
                position:relative;
                margin:0 auto 0 auto;
                -moz-border-radius:50%;
                -webkit-border-radius:50%;
                border-radius:50%;
                text-align:center;
                width: 30px;
                height: 30px;
                font-size:20px;
            }
            #socialMedia .social-circle li i {
                margin:0;
                line-height:30px;
                text-align: center;
            }
            #socialMedia .social-circle li a:hover i, .triggeredHover {
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -ms--transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }
            #socialMedia .social-circle i {
                color: #fff;
                -webkit-transition: all 0.8s;
                -moz-transition: all 0.8s;
                -o-transition: all 0.8s;
                -ms-transition: all 0.8s;
                transition: all 0.8s;
            }
            #socialMedia a {
                background-color: #D3D3D3;
            }
        </style>
    </head>

    <body>
    <head>
        {% include "AdminAgenciaBundle:views:menu.html.twig" %}  
 </head>
 <section id="bannerProfile">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container">
                    <div class="row">
                       <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="profileImage">
                            {% if  Image %}
                                <img src="{{web_image('upload/Photos/' ~ idfoto ~'/' ~ Image).zoomCrop(200,200)}}"> 
                            {%else%}
                                <img   src="{{web_image('upload/default/default.png').resize(200,200)}}"> 
                            {%endif%}
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="profileDescription">
                            <h2>{{entity.idHojadevida.nombre}}  {{entity.idHojadevida.apellido}}
                                <span>
                                    <p class="calificacion">
                                        {% if entity.idHojadevida.calificacion==1 %}
                                            <i style="color: orange;">★</i>
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                        {% elseif entity.idHojadevida.calificacion== 2%}
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                        {% elseif entity.idHojadevida.calificacion== 3%}
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i>★</i>
                                            <i>★</i>
                                        {% elseif entity.idHojadevida.calificacion== 4%}
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i>★</i>
                                        {% elseif entity.idHojadevida.calificacion== 5%}
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                            <i style="color: orange;">★</i>
                                        {% else%}
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                            <i>★</i>
                                        {% endif %}
                                    </p>
                                </span>    
                            </h2>

                            <br>
                            <h4>Profesión ({%if entity.idHojadevida.Campoartistico%}
                                {{entity.idHojadevida.Campoartistico[:20] ~ '...' }}
                                   {%else%}No definido{%endif%})</h4>
                            <br>

                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="profileLikes">
                            <ul>
                                <!--<li>Me gusta 43</li>
                                <li>Me encanta 692</li>
                                <li>Favoritos 18</li>
                                <li>Dedicación 68%</li>-->
                                <li>ESTADO</li>
                                <li>{{Ahojadevida.Estado}}</li>
                                

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="infoContent">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="info">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="masInfo">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        INFORMACIÓN</a>
                                                    </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li>EDAD <br><span>{% set number1 = entity.idHojadevida.fechaNac|date("Y") %}
                                                                {% set number2 = "now"|date("Y") %}
                                                                {% set aux= ((number2 - number1)) %}
                                                                {{aux}} AÑOS</span><hr></li>
                                                        <li>GÉNERO <br><span>{{ entity.idHojadevida.sexo }}</span><hr></li>
                                                        <li>RESIDENCIA <br><span>{{ entity.idHojadevida.ciudadresidencia}}</span><hr></li>


                                                        <li>PESO <br><span>{{ entity.idHojadevida.peso}}KG</span><hr></li>
                                                        <li>PAIS NACIMIENTO <br><span>{{ entity.idHojadevida.paisNacimiento }}</span><hr></li>
                                                        {% if not ((Ahojadevida.Estado =='Pendiente') or (Ahojadevida.Estado =='Inactivo') or (Ahojadevida.Estado =='Vetado'))  %}
                                                            <li>DOCUMENTO <br><span> {{ entity.idHojadevida.tipoDocumento }} / {{ entity.idHojadevida.nit }}</span><hr></li>
                                                            <li>MOVIL<BR><span> {{ entity.idHojadevida.telCe }}</span><hr></li>
                                                            <li>WHATSAPP<BR><span> {{ entity.idHojadevida.telefonoAdic }}</span><hr></li>
                                                            <li>EMAIL<br><span>{{ entity.idHojadevida.emailPersonal }}</span><li>
                                                        {% endif %}
                                                        </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        RASGOS FÍSICOS</a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li>OJOS <br><span>{{ entity.idHojadevida.ojos }}</span><hr></li>
                                                        <li>PIEL <br><span>{{ entity.idHojadevida.piel }}</span><hr></li>
                                                        <li>CABELLO<BR><span> {{ entity.idHojadevida.pelo }}</span><hr></li>
                                                        <li>CAMISA <br><span>{{ entity.idHojadevida.tallaCamisa }}</span><hr></li>
                                                        <li>PANTALON <br><span>{{ entity.idHojadevida.tallaPantalon }}</span><hr></li>
                                                        <li>CALZADO <br><span>{{ entity.idHojadevida.TallaZapato }}</span></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        CAMPO ARTÍSTICO</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li>{%if entity.idHojadevida.Campoartistico%}
                                                            {% for item in entity.idHojadevida.Campoartistico|split(',') %}
                                                            <li>{{ item }}</li>
                                                            {% endfor %}
                                                            {%else%}No definido{%endif%}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                                DISCIPLINAS</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse4" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>VIDEOS </li>
                                                                <li>FOTOGRAFÍA </li>
                                                                <li>COMERCIALES </li>
                                                                <li>EVENTOS </li>
                                                                <li>CATÁLOGOS </li>
                                                                <li>ARTE </li>
                                                                <li>GLAMOUR </li>
                                                                <li>ONLINE/WEB </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                                IDIOMAS</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse5" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>{%if entity.idHojadevida.idiomas%}
                                                                    {% for item in entity.idHojadevida.idiomas|split(',') %}
                                                                    <li>{{ item }}</li>
                                                                    {% endfor %}
                                                                    {%else%}No definido{%endif%}</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                                                        HABILIDADES</a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse6" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    <ul>
                                                                        <li>HABILIDADES<br>{%if entity.idHojadevida.habilidades%}
                                                                            {% for item in entity.idHojadevida.habilidades|split(',') %}
                                                                                <span>{{ item }}</span><br>
                                                                            {% endfor %}

                                                                            {%else%}<span>No definido</span><hr>{%endif%}</li>
                                                                                <li>DEPORTES<br>{%if entity.idHojadevida.deportes%}

                                                                                    {% for item in entity.idHojadevida.deportes|split(',') %}
                                                                                        <span>{{ item }}</span><br>
                                                                                    {% endfor %}
                                                                                    {%else%}<span>No definido</span>{%endif%}</li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                                                                        ESTUDIOS</a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse7" class="panel-collapse collapse">
                                                                                <div class="panel-body">
                                                                                    <ul>
                                                                                        <li>{%if entity.idHojadevida.Estudios%}{{entity.idHojadevida.Estudios}}{%else%}No definido{%endif%}</li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                                                                        OTROS</a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse8" class="panel-collapse collapse">
                                                                                <div class="panel-body">
                                                                                    <ul>
                                                                                        <li>CONDUCE<br><span>{{ entity.idHojadevida.maneja }}</span><hr></li>
                                                                                        <li>ENTIDAD DE SALUD<br><span>{%if entity.idHojadevida.entidadSalud%}{{ entity.idHojadevida.entidadSalud }}{%else%}No definido{%endif%}</span></li>

                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="socialMedia">
                                                                    <h3>Encuéntrame en</h3>
                                                                    <div class="col-md-12">
                                                                        <ul class="social-network social-circle">
                                                                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                                                                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                                                        </ul>
                                                                        <br><br><br>
                                                                    </div>
                                                                </div>


                                                                <!--
                                                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="valoraciones">
                                                                                                    <div class="panel-group" id="accordion">
                                                                                                        <div class="panel panel-default">
                                                                                                            <div class="panel-heading">
                                                                                                                <h4 class="panel-title">
                                                                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                                                                                        <span>2 </span>VALORACIONES</a>
                                                                                                                </h4>
                                                                                                            </div>
                                                                                                            <div id="collapse5" class="panel-collapse collapse in">
                                                                                                                <div class="panel-body">
                                                                
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                                                                                            <div class="perfilImageCalificador">
                                                                                                                                <img src="" alt="" />
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                                                                                            <div class="infoPerfilCalificador">
                                                                                                                                <ul>
                                                                                                                                    <li><a href="#">Nombre agencia</a></li>
                                                                                                                                    <li>Tipo agencia</li>
                                                                                                                                    <li>Valorado 22 Jun 2015</li>
                                                                                                                                    <li>Número de estrellas</li>
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <hr>
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                                                                                            <div class="perfilImageCalificador">
                                                                                                                                <img src="" alt="" />
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                                                                                                            <div class="infoPerfilCalificador">
                                                                                                                                <ul>
                                                                                                                                    <li><a href="#">Nombre agencia</a></li>
                                                                                                                                    <li>Tipo agencia</li>
                                                                                                                                    <li>Valorado 22 Jun 2015</li>
                                                                                                                                    <li>Número de estrellas</li>
                                                                                                                                </ul>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <hr>
                                                                                                                    <ul>
                                                                                                                        <li>
                                                                                                                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                                                                                                <span>
                                                                                                                                    + valoraciones
                                                                                                                                </span>
                                                                                                                            </button>
                                                                                                                            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                                                                                                <span>
                                                                                                                                    ¡Valorar!
                                                                                                                                </span>
                                                                                                                            </button>
                                                                                                                        </li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <hr>
                                                                                                </div>
                                                                -->
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="fotos">
                                                            {% if  ((Ahojadevida.Estado =='Pendiente') or (Ahojadevida.Estado =='Inactivo') or (Ahojadevida.Estado =='Vetado'))  %}
                                                                <h2>Este perfil se encuentra {{ Ahojadevida.Estado }}</h2>
                                                                <h4>El perfil sugiere que es
                                                                    {%if entity.idHojadevida.Campoartistico%}
                                                                    {% for item in entity.idHojadevida.Campoartistico|split(',') %}
                                                                        <li>{{ item }}</li>
                                                                    {% endfor %}
                                                                    {%else%}No definido{%endif%}</li>
                                                                </h4>
                                                            {% endif %}
                                                            <div class="col-lg-12 linea">
                                                                {{ render(controller('AdminAgenciaBundle:Hojadevida:edit',{'id':Ahojadevida.idHojadevida.id})) }}
                                                            </div>
                                                            {{ render(controller('AdminAgenciaBundle:Photo:list',{'id':entity.idHojadevida})) }}
                                                        <div class="col-lg-12 linea">
                                                            <div class="row">
                                                                <h2>Sobre mí</h2>
                                                                <p id="textoABoutMe">
                                                                    {{ entity.idHojadevida.experienciaTv }}
                                                                </p>
                                                                <hr>
                                                            </div>
                                                        </div>
                                                        </div>
                    </div>
                                            </div>
                                        </div>
                                    </section>


                                </body>
                                <script type="text/javascript" src="{{asset('/bundles/adminmyaccount/js/profile/jquery-2.1.4.min.js')}}" charset="UTF-8"></script>
                                <script type="text/javascript" src="{{asset('/bundles/adminmyaccount/js/profile/bootstrap.min.js')}}"></script>
                                 <script src="{{ asset('js/select2.min.js') }}"></script>
                                <script>
        (function ($) {
            var diagnosticInput = $('#admin_adminbundle_agenciahojadevida_Tags');
            diagnosticData = "Acrobata_Adolecente_Afrodecendiente_Ama de casa_Artes Marciales_Bailarin_Colegio_Deportista_Doble_Enfermera_Estrato Alto_Extranjero_Gay_Hospital_Iglesia_Indigena_Ingeniero_Mafioso_Medico_Metalero_Musico_Niño_Oficina_Policia_Pre Adolecente_Prepago_Profesor_Recreador_Universidad_Musico_Maloso_Malandro".split('_');
            diagnosticInput.removeClass('form-control').select2({tags: diagnosticData});
        })(jQuery);
    </script>
</html>
{#
{% block container %}

    <div class="col-lg-12">
            <div class="col-lg-9">
                <h3><span class="glyphicon glyphicon-user"></span> {{entity.idHojadevida.nombre}}  {{entity.idHojadevida.apellido}} <small>{{Ahojadevida.Estado}} </small></h3>
            </div>
            <div class="col-lg-3"><h3> Edad:                  
                    {% set number1 = entity.idHojadevida.fechaNac|date("Y") %}
                    {% set number2 = "now"|date("Y") %}
                    {% set aux= ((number2 - number1)) %}
                    {{aux}}</h3>
                <p><a href="{{path('list_book', { 'id':entity.idHojadevida.id})}}">BOOK:{{entity.idHojadevida.id}}</a><p>

            </div>
        <div class="col-lg-12 page-header">
            {{ render(controller('AdminAgenciaBundle:Hojadevida:edit',{'id':Ahojadevida.idHojadevida.id})) }}
        </div>
        <div class="col-lg-12">
            {{ render(controller('AdminAgenciaBundle:Photo:list',{'id':entity.idHojadevida})) }}
        </div>
        <div class="col-lg-12 page-header">
            <div class="form-group">
                <div class="col-md-6">                
                    <label>Tipo de Documento</label>
                    {{ entity.idHojadevida.tipoDocumento }}
                </div>
                <div class="col-md-6">                
                    <label>Documento</label>
                    {{ entity.idHojadevida.nit }}

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Nombres</label>
                    {{entity.idHojadevida.nombre}}  
                </div>
                <div class="col-md-6">
                    <label>Apellidos</label>
                    {{entity.idHojadevida.apellido}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>Whatsapp</label>
                    {{ entity.idHojadevida.telefonoAdic }}

                </div>
                <div class="col-md-6">
                    <label>Teléfono celular</label>
                    {{ entity.idHojadevida.telCe }}
                </div>
            </div>
            <div class="form-group">                
                <div class="col-md-6">
                    <label>Correo Electrónico</label>
                    {{ entity.idHojadevida.emailPersonal }}
                </div>
            </div>
        </div>
        <div class="col-lg-12 page-header">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Fecha de nacimiento</label>
                    {{ entity.idHojadevida.fechaNac|date('Y-m-d') }}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Genero</label>
                    {{ entity.idHojadevida.sexo }}

                </div>
                <div class="col-md-4">
                    <label>Estatura</label>
                    {{ entity.idHojadevida.estatura}}
                </div>
                <div class="col-md-4">
                    <label>Peso</label>
                    {{ entity.idHojadevida.peso}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Dirección de residencia</label>
                    {{ entity.idHojadevida.dirCasa}}
                </div>
                <div class="col-md-4">
                    <label>Ciudad de residencia</label>
                    {{ entity.idHojadevida.ciudadresidencia}}
                </div>
                <div class="col-md-4">
                    <label>Lugar de nacimiento</label>
                    {{ entity.idHojadevida.paisnacimiento }}
                </div>
            </div>
        </div>
        <div class="col-lg-12 page-header"> 
            <div class="form-group">
                <div class="col-md-4">
                    <label>Color de piel</label>
                    {{ entity.idHojadevida.piel }}
                </div>
                <div class="col-md-4">
                    <label>Color ojos</label>
                    {{ entity.idHojadevida.ojos }}
                </div>
                <div class="col-md-4">
                    <label>Color de Cabello</label>
                    {{ entity.idHojadevida.pelo }}
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4">

                    <label>Talla de camisa</label>
                    {{ entity.idHojadevida.tallaCamisa }}
                </div>

                <div class="col-md-4">
                    <label>Talla Pantalón</label>
                    {{ entity.idHojadevida.tallaPantalon }}                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Talla Zapato</label>
                    {{ entity.idHojadevida.TallaZapato }}
                </div>                
            </div>
        </div>
        <div class="col-lg-12 page-header">
            <div class="form-group">
                <div class="col-md-4">
                    <label>Deportes</label>
                    {{ entity.idHojadevida.deportes }}
                </div>
                <div class="col-md-4">
                    <label>Maneja</label>
                    {{ entity.idHojadevida.maneja }}
                </div>
                <div class="col-md-4">
                    <label>Idiomas</label>
                    {{ entity.idHojadevida.idiomas}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label>Habilidades</label>
                    {{ entity.idHojadevida.habilidades }}
                </div>
                <div class="col-md-4">
                    <label>Entidad de salud</label>
                    {{ entity.idHojadevida.entidadSalud }}
                </div>

            </div>
        </div>
        <div class="col-lg-12 page-header">
            <div class="col-lg-6">
                <label>Campo Artístico</label>

                {{entity.idHojadevida.campoartistico}}   
            </div>
            <div class="col-lg-6">
                <label>Estudios</label>
                {{entity.idHojadevida.estudios}}
            </div>

        </div>
        <div class="col-lg-12 page-header">
            <div class="form-group">
                <div class="col-md-12">

                    <label>Experiencia de televisión</label>
                    {{ entity.idHojadevida.experienciaTv }}
                </div>                
            </div>
        </div>
        <div class="col-lg-12 page-header">
            <div class="col-lg-6">

                <label>Fecha creación</label>
                {{ entity.idHojadevida.fecha|date('Y-m-d H:i:s') }}
            </div>                
            <div class="col-lg-6">

                <label>Fecha Actualización</label>
                {{ entity.idHojadevida.fechaupdate|date('Y-m-d H:i:s') }}
            </div>                
        </div>
    </div>    
{%endblock%}
{% block javascript %}
    {{parent()}}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        (function ($) {
            var diagnosticInput = $('#admin_adminbundle_agenciahojadevida_Tags');
            diagnosticData = "Acrobata_Adolecente_Afrodecendiente_Ama de casa_Artes Marciales_Bailarin_Colegio_Deportista_Doble_Enfermera_Estrato Alto_Extranjero_Gay_Hospital_Iglesia_Indigena_Ingeniero_Mafioso_Medico_Metalero_Musico_Niño_Oficina_Policia_Pre Adolecente_Prepago_Profesor_Recreador_Universidad_Musico_Maloso_Malandro".split('_');
            diagnosticInput.removeClass('form-control').select2({tags: diagnosticData});
        })(jQuery);
    </script>

{%endblock%}
#}