{% extends "AdminAdminBundle::layout.html.twig" %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
    <h1>Lista de agencias</h1>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombreagencia }}</td>
                    <td>{{ entity.telefono }}</td>
                    <td>{{ entity.direccion }}</td>
                    <td>{{ entity.email }}</td>
                    <td>
                                <a class="btn btn-default btn-block" href="{{ path('dashboard_agencia_show', { 'id': entity.id }) }}">Mostrar</a>
                                <a class="btn btn-default btn-block" href="{{ path('dashboard_agencia_edit', { 'id': entity.id }) }}">Editar</a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            <a class="btn btn-default" href="{{ path('dashboard_agencia_new') }}">
                Nueva
            </a>
   
                
            </div>
            </div>
{% endblock %}
