{% extends "AdminAdminBundle:Default:layout.html.twig" %}
{% block title %}Registro {%  if entity %}{% filter upper %}{{ entity.nombreagencia }}{% endfilter %}{% endif %}{% endblock %}
{% block container %}
<seccion>
    <div class="row">
        <div class="container">
            <div class="login">
                <div class="col-lg-6">
                    {%  if entity %}
                        <h1>{% filter upper %}{{ entity.nombreagencia }}{% endfilter %}</h1>
                        <h2>{{  entity.pais }}</h2>
                        <p>{{ entity.descripcion }}</p>
                    {% else %}
                        <h1>El mundo del espectáculo</h1>
                        <h2>Espera por ti</h2>
                        <p>
                            Fikner es la plataforma que permite a los modelos, </p>
                        <p> Actores y Personal de apoyo tener un espacio para </p>
                        <p> Mostrar su book profesional además de ser </p>
                        <p>Encontrados por empresas y agencias interesadas </p>
                        <p>De una manera rápida y segura.
                        </p>
                    {% endif %}

                </div>
                <div class="col-lg-6">
                        {{ render(controller('AdminAdminBundle:Registration:register')) }}
                </div>
            </div>
        </div>
    </div>
</seccion>
{% endblock %}
